*{
    margin: 0;
    padding: 0;
}

.red{
    width: 200px;
    height: 200px;
    display: block;
    background-color: red;

}

.green{
    width: 200px;
    height: 200px;
    display: block;
    background-color: green;
}

.blue{
    width: 200px;
    height: 200px;
    display: block;
    background-color: blue;
}